.astr{
    z-index: -5;
}
nav{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background-color: rgb(52,58,64);
    position: relative;
    
    
    
    
    .tatsumaki{
        width: 80%;
        padding: 20px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        
        
        
        i{
            color: white;
            font-size: x-large;
            display: none;
        }
        
        .atomic_samurai{
            display: flex;
            color: white;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
        
        .bang{
            position: absolute;
            display: flex;
            
            flex-direction: column;
            height: 600px;
            width: 200px;
            background-color: rgb(255, 255, 255);
            top: 1px;
            color: black;
            justify-content: center;
            align-items: center;
            right: 0;
            
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            
            
            .btn1{
                color: white;
                background-color: inherit;
                border: 1px solid rgb(124,189,30);
                padding: 10px;
                width: 100px;
                
            
            }
            .btn2{
                color: white;
                background-color: rgb(124,189,30);
                border: none;
                padding: 10px;
                
            
                width: 100px;
            }
        }
    }
}
@media  (max-width: 768px) {
nav{
    #bar{
        display: block;
    }
    .atomic_samurai{
        li{
            display: none;
        }
    }
}
}